<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <pre>
        <br/>
        KYSYMYSPANKKI
        <br/>
        
        Lisää kysymys/vastausvaihtoehto täyttämällä alla olevat kohdat. <br/>
        Jätä kohta tyhjäksi, jos et halua lisätä sitä. <br/>
        </pre>
        <br/>
        <form method="POST" action="/a" id = "form1">
            <pre>
            Lisää kysymys:<br/>
            <input type="text" name="kysymysteksti"/><br/> 
            Kysymyksen aihe:<br/>
            <input type="text" name="aihe"/><br/> 
            Kysymyksen kurssi:<br/>
            <input type="text" name="kurssi"/><br/> 
            Poistettavan kysymyksen nro:<br/>
            <input type="text" name="poistettavak"/><br/> 
            <br/>
            Lisää vastausvaihtoehto: <br/>
            <input type="text" name="vastaus"/><br/> 
            Lisää vastausvaihtoehtoon liittyvän kysymyksen nro: <br/>
            <input type="text" name="kysymys_id"/><br/> 
            Lisää vastausvaihtoehdon oikein/väärin -arvo (true/false):<br/> 
            <input type="text" name="oikein"/><br/> 
            Poistettavan vastauksen nro: <br/>
            <input type="text" name="poistettavav"/><br/> 
            <input type="submit" name = "button0" value="Lähetä!"/> 
            <br/>
            </pre>
        </form>
        
        
    </body>
 
</html>
    <br/>
    Lisätyt kysymykset vastausvaihtoehtoineen: 
    <br/>
    <br/>

    
    <tr th:each="pari : ${kysymysvastausparit}">
        
        Kysymyksen nro:
        <td th:text="${pari.key.id}">keyvalue</td><br/>
        <td th:text="${pari.key.kurssi}">keyvalue</td><br/> 
        <td th:text="${pari.key.aihe}">keyvalue</td><br/> 
        <td th:text="${pari.key.kysymysteksti}">keyvalue</td>
        <table>
            <table>
            <tr th:each="lista : ${pari.value}"> 
                <td th:text="${lista.id}">vastauksen id</td>
                <td th:text="${lista.vastausteksti}">vastausteksti</td>
            </tr>
            </table>
        </table>
        
        <br/> 
    </tr>  






