<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Virheviesti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <pre>
        <br/>
        
        Tarkista syöttämäsi arvot!
        Tämä virheviesti voi johtua seuraavista syistä: 
        * Vastausvaihtoehdon oikein/väärin -arvo ei ole muotoa true/false
        * Lisättävän kysymyksen/vastauksen numero ei ole numeromuotoinen
        * Lisättävälle vastausvaihtoehdolle ei ole määritelty tietokannasta löytyvää kysymystä
        * Koitit lähettää tyhjän vastausvaihtoehdon tai tyhjän kysymyksen
        * Koitit lähettää tyhjän lomakkeen
         
        <br/>
        
        <a href="a">Takaisin</a>
        
        
        </pre>
        
        
    </body>
 
</html>
   






