<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html style="font-family:georgia; font-size:90%; margin: 100px;" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Virheviesti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <br/>
        
        Tarkista sy&ouml;tt&auml;m&auml;si arvot!
        T&auml;m&auml; virheviesti voi johtua seuraavista syist&auml;: 
        <ul>
        <li> Lis&auml;tt&auml;v&auml;n kysymyksen/vastauksen numero ei ole numeromuotoinen</li>
        <li> Lis&auml;tt&auml;v&auml;lle vastausvaihtoehdolle ei ole m&auml;&auml;ritelty tietokannasta lytyv&auml;&auml; kysymyst&auml;</li>
        <li> Koitit l&auml;hett&auml;&auml; tyhj&auml;n vastausvaihtoehdon tai tyhj&auml;n kysymyksen</li>
        <li> Koitit l&auml;hett&auml;&auml; tyhj&auml;n lomakkeen</li>
         
        </ul>
        <br/>
        
        <a href="a">Takaisin</a>
        
        
        
        
    </body>
 
</html>
   






